.headerTitle { 
    background-color: rebeccapurple;
    color: white;
}

.allContainer {
    padding-top:30px;
    padding-left:50px;
    padding-right:50px;
}

.inputRadio {
    float:right;
    margin-left:10px;
}

.cSexo {
    padding-top:30px;
    text-align:center;
    margin-left:100px;
}

.nameMasculino {
    margin-left:10px;
}

#inputBirthday {
    margin-top:10px;
    margin-bottom:-10px;
}

.btn {
    padding-left:45px;
    padding-right:45px;
    margin-bottom:51.5px;
}

.footer {
    text-align: center;
    background-color: rebeccapurple;
}

.footerTitle {
    font-size:0.6em;
}
