.headerTitle {
    font-size:1.5em;
}

.linkTitle {
    background-color:rebeccapurple;
    color:white;
}

.buscar {
    color:white;
    background-color: white;
    border:10px solid white;
}

#tituloHistorico {
    font-size:1.6em;
    text-align:center;
    margin-top:8px;
}

.botao {
    font-weight:bold;
    background-color:;
}

.footer {
    background-color:rebeccapurple;
}

.footerTitle {
    font-size:0.6em;
}


/*
link Bootstrap
https://getbootstrap.com/docs/4.1/components/navbar/#nav
*/