.box-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.05), 0px 4px 8px 0px rgba(0,0,0,.05);
}

.nav-color {
    color:white;
    background-color: #2B3A42;
}

.bg-color {
    background: #39403F;
    //#F1F2F0
}

.btn-color {
    color: white;
    background-color: #F25652;
}

.area {
    height: 6.5rem;
}